.productHighlightWrapper--collection {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 200px;
  color: #000000;
}

.productHighlightText { /*highlight edição */
  /*background: rgb(227, 133, 8);/*fundo balão esquerdo superior nos produtos */
  border-radius: 20px;
  padding: 5px 10px;
}
